
*.html

*.csv

adrian

adrian (Copia en conflicto de juan rubio-ramirez 2014-05-26).cu~

*.*~

jq_nobond_noadjustment/

makefile~

.gitignore~

*.swp

*.md~

*.md~

README.html

*.md~

README.html

README.md~
