
*.html

*.csv

adrian

adrian (Copia en conflicto de juan rubio-ramirez 2014-05-26).cu~

*.*~

fpiter

jq_nobond_noadjustment/

makefile~

.gitignore~

*.swp

*.md~

*.md~

README.html

*.md~

README.html

README.md~

.cproject

.project

*.o

adrian (Copia en conflicto de juan rubio-ramirez 2014-05-28)

*.eps

*.mat


screenlog.txt

vfi

MATLAB/vfi_para.m
